[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tensorflow = "*"
pyseqlab = {ref = "master", git = "https://github.com/bratao/PySeqLab.git"}
kashgari = {ref = "master", git = "https://github.com/BrikerMan/Kashgari"}
seqeval = {ref = "master", git = "https://github.com/chakki-works/seqeval"}

[requires]
python_version = "3.7"
